/* .jumbotron{
    background-color: rgb(132, 99, 163);
    color: wheat;
    margin-top: 50px;
}
footer{
    background-color: rgb(90, 58, 119);
    color: wheat;
    margin-top: 20px;
    padding: 10px;
}

.clas-body{
    flex: 1 150px;
    margin-top: 10px;
    border-radius: 5px;
    justify-content: space-between;
    min-width: 18%;
}
.clas-body:hover{
    background-color: rgba(129, 68, 129, 0.411);
    border: solid 1px rgba(129, 68, 129, 0.61);
}
.btn-reserva{
    width: 100%;
    border-radius: 0%;
}
.btn-consult{
    width: 75%;
}
.valores-section:hover{
    background-color: rgba(129, 68, 129, 0.301);
}
.footer-addres-icon{
    padding-right: 12px;
}
footer a{
    color: wheat;
    font-size: 18px;
}
footer a:hover{
    color: rgb(138, 126, 104);
    text-decoration: none;
}
.button-icon{
    padding-right: 12px;
}
tbody{
    text-align: center;
}
.stars{
    text-align: left;
}
/*a{
    color: wheat;
}
a:hover{
    color: rgb(21, 4, 66);
}
.tab-content{
    padding-top: 2px;
} */