.jumbotron {
  background-color: #496de5;
  color: #daf5eb;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  background-color: #5a3a77;
  color: #daf5eb;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 10px; }

.clas-body {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 5px;
  justify-content: space-between;
  min-width: 18%; }

.clas-body:hover {
  background-color: #56d1a4;
  border: solid 1px #56d1a4; }

.btn-reserva {
  width: 100%;
  border-radius: 0%; }

.btn-consult {
  width: 75%; }

.valores-section:hover {
  background-color: #56d1a4; }

.footer-addres-icon {
  padding-right: 12px; }

footer a {
  color: #daf5eb;
  font-size: 18px; }

footer a:hover {
  color: #56d1a4;
  text-decoration: none; }

.button-icon {
  padding-right: 12px; }

tbody {
  text-align: center; }

.stars {
  text-align: left; }

/*a{
    color: wheat;
}
a:hover{
    color: rgb(21, 4, 66);
}*/
.tab-content {
  padding-top: 2px; }

.breadcrumb {
  margin-top: 7px;
  margin-bottom: 5px; }

#carouselControls {
  margin-top: 7px;
  margin-bottom: 0px; }
