@blue: #496de3;
@green: #56d1a4;
@light-color: #daf5eb;
.margenes(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron{
    background-color: @blue;
    color: @light-color;
    .margenes(50px, 0px);
}
footer{
    background-color: rgb(90, 58, 119);
    color: @light-color;
    .margenes(20px, 0px);
    padding: 10px;
}

.clas-body{
    flex: 1 150px;
    .margenes(10px, 0px);
    border-radius: 5px;
    justify-content: space-between;
    min-width: 18%;
}
.clas-body:hover{
    background-color: @green;
    border: solid 1px @green;
}
.btn-reserva{
    width: 100%;
    border-radius: 0%;
}
.btn-consult{
    width: 75%;
}
.valores-section:hover{
    background-color: @green;
}
.footer-addres-icon{
    padding-right: 12px;
}
footer a{
    color: @light-color;
    font-size: 18px;
}
footer a:hover{
    color: @green;
    text-decoration: none;
}
.button-icon{
    padding-right: 12px;
}
tbody{
    text-align: center;
}
.stars{
    text-align: left;
}
/*a{
    color: wheat;
}
a:hover{
    color: rgb(21, 4, 66);
}*/
.tab-content{
    padding-top: 2px;
}
.breadcrumb{
    .margenes(7px, 5px)
}
#carouselControls{
    .margenes(7px, 0px)
}